# Aula 06 - Introdução a Tuplas e Dicionários

In [1]:
lista = [2,5,9]
lista[1]
print(lista)

5

## Introdução a Tuplas

In [ ]:
tupla = (6,8,9)
tupla[1]

In [2]:
lista.append(7)
print(lista)

[2, 5, 9, 7]

In [3]:
tupla = (3,9,0)
print(tupla)

(3, 9, 0)

## Introdução a Dicionários

In [6]:
dicionario = {
    'curso':'Desenvolvimento de Sistemas',
    'ano':2024,
    'modulo':'Técnicas de Programação e Algoritmos',
    'professor':'Gustavo'
}

In [5]:
print(dicionario['curso'])
print(dicionario['ano'])
print(dicionario['modulo'])
print(dicionario['professor'])

Desenvolvimento de sistemas
2024
Técnicas de programação e algoritmos
Gustavo

In [7]:
dicionario['nota'] = 9.5
print(dicionario['nota'])

9.5

In [8]:
for x in dicionario.values():
    print(x)

Desenvolvimento de Sistemas
2024
Técnicas de Programação e Algoritmos
Gustavo
9.5

In [9]:
print(dicionario.keys())
print(dicionario.values())

dict_keys(['curso', 'ano', 'modulo', 'professor', 'nota'])
dict_values(['Desenvolvimento de Sistemas', 2024, 'Técnicas de Programação e Algoritmos', 'Gustavo', 9.5])

In [10]:
dicionario.clear()
print(dicionario)

{}

### Exercício 01
> Crie 3 dicionários: Matrícula, aluno e Disciplina.
>> * A matrícula terá código da matrícula, data_incrição e curso;
>> * Aluno terá registro e nome;
>> * A disciplina terá registro e professor;
> Ao final adicione os três dicionários em uma tupla chamada escola.

In [14]:
matricula = {
    'codigo':'010',
    'data_inscrição':'02-01-2024',
    'curso':'Corinthians',
}

aluno = {
    'registro':'26746844267',
    'nome':'Rodrigo Garro',
}

disciplina = {
    'registro':'1610',
    'nome':'Meio Campista',
    'professor':'Ramón Díaz',
}

escola = (matricula,aluno,disciplina)
for x in escola:
    print(x)

{'codigo': '010', 'data_inscrição': '02-01-2024', 'curso': 'Corinthians'}
{'registro': '26746844267', 'nome': 'Rodrigo Garro'}
{'registro': '1610', 'nome': 'Meio Campista', 'professor': 'Ramón Díaz'}

### Exercício 2
> Crie três dicionários para as seguintes tabelas: vendedor, produto e venda. O vendedor terá registro, nome e admissão; o produto terá o ID, nome, fabricante; A venda terá reg_vendedor, id_produto e valor. Após a criação dos dicionários, adicionem a uma tupla chamada casas_baiano.

In [2]:
vendedor = {
    'regitro':'022',
    'nome':'Evandro',
    'admissao':'11-09-2021',
    
}

produto = {
    'id':'611',
    'nome':'Playstation 6',
    'fabricante':'Polystation',
}

venda = {
    'reg_vendedor':'2213',
    'id_produto':'611',
    'valor':'R$ 9299,00',
}

casas_baiano = (vendedor,produto,venda)
for x in casas_baiano:
    print(x)

{'regitro': '022', 'nome': 'Evandro', 'admissao': '11-09-2021'}
{'id': '611', 'nome': 'Playstation 6', 'fabricante': 'Polystation'}
{'reg_vendedor': '2213', 'id_produto': '611', 'valor': 'R$ 9299,00'}